@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Bungee+Shade&family=Bungee+Spice&family=Diplomata&family=Faster+One&family=Gloria+Hallelujah&family=Holtwood+One+SC&family=Nabla&family=Nosifer&family=Press+Start+2P&family=Rampart+One&family=Rubik+Mono+One&family=Silkscreen&family=Sofia+Sans:ital,wght@1,100&family=Staatliches&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f1f1f1;
  background-image: linear-gradient(#bcd2e490 2px, transparent 0);
  background-size: 100% 5vmin;
  height: 100%;
}


.page {
  width: 100%;
  height: 100vh;
  font-weight: 600;
  letter-spacing: .03em;
  color: #212121;
}

header {
  display:flex;
  position: fixed;
  width: 100%;
  height: 70px;
  background: #212121;
  color: #fff;
  justify-content: center;
  align-items: center;
}

main {
  padding: 70px 20px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main > div {
  margin: auto;
  max-width: 600px;
}

main h2 span {
  color: #BF7497;
}

main p {
  line-height: 1.5;
  font-weight: 200;
  margin: 20px 0;
}

main small {
  font-weight: 300;
  color: #888;
}

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
 /*  pointer-events: none; */
}
#nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
 /*  visibility: hidden; */
  opacity: 0;
  transition: .3s;
  background: #000;
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .6;
}
#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  border: 0;
 /*  background: transparent; */
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #aaa;
  transition: .3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,8px,0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-8px,0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: #ececec;
  pointer-events: auto;
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color .1s;
}

#nav-content li a:hover {
  color: #BF7497;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: #888;
}
.small a + a {
  margin-left: 15px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}


a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}


.form{
  /* background-color: rgba(209, 207, 207, 0.404); */
  /* background-color: rgba(209, 207, 207, 0.838); */
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 3.4em 3em; /* 1em = 16px */
  border-radius: 20px;
  text-align: center;
}

.crearcategoria{
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: rgba(209, 207, 207, 0.838);
  /* margin: auto; */
  width: 90%;
  max-width: 400px;
  padding: 3.4em 3em; /* 1em = 16px */
  border-radius: 20px;
  text-align: center;
}

.consultar{
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: rgba(209, 207, 207, 0.838);
  /* margin: auto; */
  width: 90%;
  max-width: 400px;
  padding: 3.4em 3em; /* 1em = 16px */
  border-radius: 20px;
  text-align: center;
}

.editar{
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: rgba(209, 207, 207, 0.838);
  /* margin: auto; */
  width: 90%;
  max-width: 400px;
  padding: 3.4em 3em; /* 1em = 16px */
  border-radius: 20px;
  text-align: center;
}

.elimarcategoria{
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: rgba(209, 207, 207, 0.838);
  /* margin: auto; */
  width: 90%;
  max-width: 400px;
  padding: 3.4em 3em; /* 1em = 16px */
  border-radius: 20px;
  text-align: center;
}

/* .formTitle{
  font-size: 2rem; 
  margin-bottom:.5em ;
}

.formParagraph{
  font-weight: 300;
}

.formLink{
  font-weight: 300;
  color: #000000;
} */

.formContainer{
  margin-top: 3em;
  display: grid;
  gap: 2.1em; 
  /* gap es el saparado  */
}


.input-field{
  position: relative;
}

.input-field input{
  width: 300px;
  height: 40px;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 10px;
  border: 2px solid #fff;
  /* background: transparent; */
  color: rgb(0, 0, 0);
  outline: none;
  /* transition: 0.2s; */
}

.input-field label{
  position: absolute;
  top: -11px;
  left: 8px;
  transform: translateY(-50%);
  color: rgb(54, 54, 54);
  font-size: 16px;
  pointer-events: none;
  padding: 0 2px;
  transition: 0.3s;
  /* background: rgb(153, 153, 153); */
}

input:focus{
  border: 2px solid #272626;
}

/* input:focus ~ label,
input:valid ~ label{
top: 0;
left: 15px;
font-size: 16px;
padding: 0 2px;
background: rgb(153, 153, 153);
} */

.formSubmit{
  background: #ffb451;
  height: 35px;
  border: none;
  border-radius: 15px;
  font-size: 19px;
  transition: all 0.3s ease;

}

.formSubmit:hover{
  background-color: orange;
  color: #000000;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 0px 39px -2px rgba(253, 142, 6, 1);
  -moz-box-shadow: 0px 0px 39px -2px rgba(253, 142, 6, 1);
  box-shadow: 0px 0px 39px -2px rgba(253, 142, 6, 1);

}

.checkbox{
  display: block;
}
.content{
  margin-top: 100px;
  margin-bottom: 100px;
}