@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Bungee+Shade&family=Bungee+Spice&family=Diplomata&family=Faster+One&family=Gloria+Hallelujah&family=Holtwood+One+SC&family=Nabla&family=Nosifer&family=Press+Start+2P&family=Rampart+One&family=Rubik+Mono+One&family=Silkscreen&family=Sofia+Sans:ital,wght@1,100&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {

    background-color: #f1f1f1;
    background-image: linear-gradient(#bcd2e490 2px, transparent 0);
    background-size: 100% 5vmin;
}

.titulo{
    position: absolute;
    left: 50%;
    top: 13%;
    transform: translate(-50%, -50%);
    
}

label{
    font-family:'Press Start 2P', cursive;
    position: relative;
    height: 50px;
    width: 300px;
    line-height: 50px;
    text-align: center;
    font-size: 42px;
    font-weight: 650;
    text-transform: uppercase;
    display: block;
    color: #000000;
    
    /* -webkit-box-shadow: 0px 0px 39px -2px rgba(253, 142, 6, 1);
    -moz-box-shadow: 0px 0px 39px -2px rgba(253, 142, 6, 1);
    box-shadow: 0px 0px 39px -2px rgba(253, 142, 6, 1); */
}

.bRegresar{
    position: fixed;
    left: 15px;
    top: 25px;
    /* padding: 25px 20px; */
}

.bMode{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.bSing {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bRegister {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.bTabla {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}



.btnBack {
    text-decoration: none;
    background-color: orange;
    color: #302f2f;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.btnBack:hover{
    background-color: #eec043;
    color: #000000;
    letter-spacing: 1px;
}



.btnMode {
    text-decoration: none;
    background-color: #d3d1d1;
    color: #302f2f;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.btnMode:hover{
    background-color: orange;
    color: #000000;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 0px 39px -2px rgba(253, 142, 6, 1);
    -moz-box-shadow: 0px 0px 39px -2px rgba(253, 142, 6, 1);
    box-shadow: 0px 0px 39px -2px rgba(253, 142, 6, 1);

}

.btnSing {
    text-decoration: none;
    background-color: #d3d1d1;
    color: #302f2f;
    padding: 10px 25px;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.btnSing:hover{
    background-color: orange;
    color: #000000;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 0px 39px -2px rgba(253, 142, 6, 1);
    -moz-box-shadow: 0px 0px 39px -2px rgba(253, 142, 6, 1);
    box-shadow: 0px 0px 39px -2px rgba(253, 142, 6, 1);
}

.btnRegis{
    text-decoration: none;
    background-color: #d3d1d1;
    color: #302f2f;
    padding: 10px 30px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.btnRegis:hover{
    background-color: orange;
    color: #000000;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 0px 39px -2px rgba(253, 142, 6, 1);
    -moz-box-shadow: 0px 0px 39px -2px rgba(253, 142, 6, 1);
    box-shadow: 0px 0px 39px -2px rgba(253, 142, 6, 1);
}

.btnTabla{
    text-decoration: none;
    background-color: #d3d1d1;
    color: #302f2f;
    padding: 10px 15px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.btnTabla:hover{
    background-color: orange;
    color: #000000;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 0px 39px -2px rgba(253, 142, 6, 1);
    -moz-box-shadow: 0px 0px 39px -2px rgba(253, 142, 6, 1);
    box-shadow: 0px 0px 39px -2px rgba(253, 142, 6, 1);
}

.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
	color: #fff;
    
}
.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}