@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Bungee+Shade&family=Bungee+Spice&family=Diplomata&family=Faster+One&family=Gloria+Hallelujah&family=Holtwood+One+SC&family=Nabla&family=Nosifer&family=Press+Start+2P&family=Rampart+One&family=Rubik+Mono+One&family=Silkscreen&family=Sofia+Sans:ital,wght@1,100&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {

    background-color: #f1f1f1;
    background-image: linear-gradient(#bcd2e490 2px, transparent 0);
    background-size: 100% 5vmin;

}

.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
	color: #fff
}
.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}

.bRegresar{
    position: fixed;
    left: 15px;
    top: 25px;
    /* padding: 25px 20px; */
}

.btnBack {
    text-decoration: none;
    background-color: orange;
    color: #302f2f;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.btnBack:hover{
    background-color: #eec043;
    color: #000000;
    letter-spacing: 1px;
}

